<h3>Members</h3>
<p><%= link_to 'Load Faces', 'faces' %></p>
<p><%= link_to 'Load Connections', 'connections' %></p>
<p><%= link_to 'Load Posts', 'posts' %></p>
<p><%= link_to 'New Member', new_member_path %></p>

<% if @members.any? %>
<hr><%= will_paginate %><hr>
<% end %>

<p>
<ul>
<% for member in @members %>
  <li><%= link_to member.username, member_path(member.username) %>
  <% if member.outta.any? %>
    <span style="color:red">OUTTA:</span>
    <% for outta in member.outta %>
      <%= link_to outta, member_path(outta) %>
    <% end %>
  <% end %>
  <% if member.into.any? %>
    <span style="color:blue">INTO:</span>
    <% for into in member.into %>
      <%= link_to into, member_path(into) %>
    <% end %>
  <% end %></li>
<% end %>
</ul>
</p>

<% if @members.any? %>
<hr><%= will_paginate %><hr>
<% end %>

<br><br><br><br>