<h3>Member: <%= "#{@member.first_name} #{@member.last_name}" %></h3>

<p><%= link_to "Select a Member", members_path %></p>

<div id="outta">
  <p style="color:red">OUTTA:</p>
  <p>
    <%= form_tag("/outtamyface", :method => "get") do %>
      <%= text_field_tag(:face) %>
      <%= hidden_field_tag(:id, params[:id]) %>
      <%= submit_tag("Create") %>
    <% end %>
    <% if @member.outta.any? %>
      <%= nested @member.hash_outta %>
    <% end %>
  </p>
</div>

<div id="into">
  <p style="color:blue">IN:</p>
  <p>
    <%= form_tag("/inmyface", :method => "get") do %>
      <%= text_field_tag(:face) %>
      <%= hidden_field_tag(:id, params[:id]) %>
      <%= submit_tag("Create") %>
    <% end %>
    <% if @member.into.any? %>
      <%= nested @member.hash_into %>
    <% end %>
  </p>
</div>

<span class="clear">